@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@200;500;700&display=swap");

// Add new font
@font-face {
  font-family: "Now-Bold";
  src: url("/fonts/Now-Bold.otf") format("otf");
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Now-Bold", sans-serif;
}

main {
  background-image: url("/img/fondos/fondo-verde.png");
}

.bg-gray {
  background-color: #3d4841;
}

.gray-text {
  color: #3d4841;
}

#header {
  border-radius: 0 0 100px 100px;
}

#beneficios-text {
  background-color: #3d4841;
  border-radius: 0 100px 0 0;
}

/* #business-card{
  width: 40px;
} */