@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

main {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #487346;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='607' height='607' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%23426236' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%23567648' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%23426236' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%23567648' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%236A8B5C' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%234f763a' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%23688f51' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%2381A969' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%23688f51' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%234f763a' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%2381A969' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%234f763a' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%2381A969' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%23688f51' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%2381A969' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
}

.info {
  background-color: white;
  padding: 20px 150px;
  text-align: center;
  margin: 50px;
  border-radius: 40px;
}

.info h1 {
  color: #32463D;
  font-size: 70px;
  text-shadow: 1px 1px 2px grey;
  letter-spacing: 15px;
  font-family: 'Geologica', sans-serif;
}

.info h2 {
  font-family: 'Geologica', sans-serif;
}

.info .membresia {
  letter-spacing: 7px;
  margin-top: 20px;
  font-size: 30px;
  color: black;
  font-weight: 200;
}

.info .beneficios {
  color: white;
  font-family: 'Geologica', sans-serif;
  font-weight: 700;
  font-size: 50px;
  background-color: #81A969;
  border-radius: 50px;
  margin-top: 20px;
  padding: 10px 0;
  width: 100%;
}

.item {
  margin-top: 150px;
  width: 55%;
  height: 300px;
}

.item-1 {
  background-color: white;
  font-family: 'Geologica', sans-serif;
  font-weight: 200;
  border-top-left-radius: 500px;
  border-bottom-left-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.item-1 .logo{
  margin-right: 10px;
}

.item-2 {
  background-color: white;
  font-family: 'Geologica', sans-serif;
  font-weight: 200;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.item h4 {
  font-size: 35px;
}

.item h5 {
  font-size: 25px;
  font-weight: bolder;
}

.item .logo {
  border-radius: 500px;
  border: 2px solid black;
  height: 400px;
  width: auto; 
  /* padding-left: 15px; */
}

.item a {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

.whatsapp-btn {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 10px;
  background-color: #25D366;
  width: 150px;
  border-radius: 50px;
}

footer {
  background-color: black;
  text-align: center;
}

footer h6{
  font-family: 'Geologica', sans-serif;
  font-weight: 800;
  font-size: 22px;
  letter-spacing: 3px;
  padding: 20px 0;
  background-color: white;
}

footer p{
  font-family: 'Geologica', sans-serif;
  margin-top: 20px;
  color: white;
  padding: 20px;
}

@media (max-width: 300px) {
  .item {
    width: 100%;
    margin-top: 30px;
    height: 100px !important;
  }

  .item .logo {
    height: 100% !important;
  }

  .item h4 {
    font-size: 14px !important;
  }

  .item h5 {
    font-size: 10px !important;
  }

  .item p {
    font-size: 8px !important;
    padding-right: 3px;
    margin-right: 5px;
  }

  .whatsapp-btn {
    margin-top: 5px;
    padding: 0;
  }
}


/*RESPONSIVE*/
@media (max-width: 770px) {
  .info {
    padding: 10px 80px;
  }

  .info h1 {
    font-size: 20px;
    letter-spacing: 7px;
  }

  .info img {
    margin-top: 20px;
    width: 75px;
    height: 75px;
  }

  .info .membresia {
    margin-top: 10px;
    font-size: 20px;
  }

  .info .beneficios {
    font-size: 20px;
    margin-top: 10px;
  }

  .item {
    width: 100%;
    margin-top: 30px;
    height: 150px;
  }

  .item .logo {
    height: 120%;
    width: auto;
  }

  .item h4 {
    font-size: 15px;
  }

  .item h5 {
    font-size: 15px;
    font-weight: bolder;
  }

  .item p {
    font-size: 10px;
    padding-right: 3px;
    margin-right: 5px;
  }

  .item-info {
    margin-right: 0 !important;
    margin: 10px 0 !important;
    padding-left: 0 !important;
  }

  .whatsapp-btn {
    margin-top: 5px;
    padding: 0;
  }
}

